<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Pet Care</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->

</head>

<body>
  <div class="hero_area ">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="app.component.html">
            <img src="images/logo.png" alt="">
          </a>
          <div class="" id="">
            <div class="User_option">
              <form class="form-inline my-2  mb-3 mb-lg-0">
                <input type="search" placeholder="Search">
                <button class="btn   my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>

            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="index.html">Inicio</a>
                <a href="app.component copy.html">Sobre Nosotros</a>
                <a href="app.component registro.html">Registro</a>
                <a href="app.component registro_M.html">Registro Mascota</a>
                <a href="app.component login.html">Iniciar Sesion</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <div class="number">
                      
                    </div>
                    <h1>
                      Pet <br>
                      <span>
                        Care
                      </span>
                    </h1>
                    <p>
                      Deja a nuestro cuidado tu mascota
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Inscriba a su mascota
                      </a>
                      <a href="" class="btn-2">
                        Contactenos
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
            
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- Seccion sobre nosotros -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="detail-box">
        <div class="heading_container">
          <img src="images/heading-img.jpg" alt="">
          <h2>
            Sobre Nosotros
          </h2>
        </div>
        <p>
          Brindamos el servicio y apoyo de tu amigo peludo 
        </p>
        
      </div>
    </div>
  </section>

  <!-- Seccion de las mascotas -->

  <section class="animal_section layout_padding">
    <div class="container">
      <div class="animal_container">
        <div class="box b1">
          <div class="img-box">
            <img src="images/dog.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Perro Pug
            </h5>
            <p>
              Soy amigable 
            </p>
          </div>
        </div>
        <div class="box b2">
          <div class="img-box">
            <img src="images/perro1.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Perro Salchica
            </h5>
            <p>
              A pesar de mi tamaño soy un perro muy valiente
            </p>
          </div>
        </div>
        <div class="box b1">
          <div class="img-box">
            <img src="images/perro2.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              bulldog
            </h5>
            <p>
              A veces soy terco pero lo recompenso con mi lealtad
            </p>
          </div>
        </div>
        <div class="box b2">
          <div class="img-box">
            <img src="images/perro3.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              mastin tibetano
            </h5>
            <p>
              Soy cariño y afectuoso con aquellos que conocemos y convivimos 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end animal section -->

  <!-- pet section -->

  <section class="pet_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        
            <img src="images/pet-img.jpg" alt="">
        
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <img src="images/heading-img.jpg" alt="">
              <h2>
                El cuidado de los animales el muy importante para nosotros
              </h2>
            </div>
            <p>
             En nuestra app podras elegir el cuidador para tu mascota, teniendo la opcion de agregar,editar la informacion 
        adicionalmente contaran con un boton de ayuda por si se presenta algun inconveniente
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- us section -->

  <section class="us_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <img src="images/heading-img.jpg" alt="">
        <h2>
          Nuestro Proceso de cuidado
        </h2>
        <p>
          El proceso de cuidado a su mascota
        </p>
      </div>
      <div class="us_container">
        <div class="box">
          <div class="img1-box">
            <img src="images/pet1.jpg" alt="">
          </div>
          <div class="img2-box">
            <img src="images/omega.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
             Agendar
            </h6>
          </div>
        </div>
        <div class="box">
          <div class="img1-box">
            <img src="images/pet2.jpg" alt="">
          </div>
          <div class="img2-box">
            <img src="images/dog.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Conocer al Cuidadr
            </h6>
          </div>
        </div>
        <div class="box">
          <div class="img1-box">
            <img src="images/pet5.jpg" alt="">
          </div>
          <div class="img2-box">
            <img src="images/shield.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Hacer el servicio 
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!--  -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <img src="images/heading-img.png" alt="">
        <h2>
          Nuestros Cuidadores
        </h2>
        <p>
          Algunos de los mejores cuidadores que contamos en Pet Care
        </p>
      </div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box">
              <div class="img-box">
                <img src="images/client.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Juan Perez
                </h4>
                <p>
                  Se caracteriza por ser amable y respetuoso con las mascotas y maneja un cuidado agradable 
                <img src="images/quote.png" alt="">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="img-box">
                <img src="images/client.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Jack Mengo
                </h4>
                <p>
                  It is a long established fact that a reader will be distracted by the readable cIt is a long established fact that a reader will be distracted by the readable c
                </p>
                <img src="images/quote.png" alt="">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="img-box">
                <img src="images/client.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Jack Mengo
                </h4>
                <p>
                  It is a long established fact that a reader will be distracted by the readable cIt is a long established fact that a reader will be distracted by the readable c
                </p>
                <img src="images/quote.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>



  <!-- contact section -->

  <section class="contact_section layout_padding-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="form_container">
            <div class="heading_container">
              <img src="images/heading-img.png" alt="">
              <h2>
                Formulario de Solicitudes o Inconvenientes
              </h2>
              <p>
                Este espacio esta por si tiene algun problema con su servicio o al momento de agendar su servicio 
              </p>
            </div>
            <form action="">
              <div>
                <input type="text" placeholder="Nombre Completo" />
              </div>
              <div>
                <input type="text" placeholder="Numero de Contacto" />
              </div>
              <div>
                <input type="email" placeholder="Correo Electronico" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Sugerencia o Motivo" />
              </div>
              <div class="d-flex ">
                <button>
                  Enviar
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.5469316686913!2d-74.14619862552715!3d4.6745489418847646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9c8c68439739%3A0xac3fda81290d88e4!2sCl.%2019%20%2399-68%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1707960680402!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->


  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="info_contact">
            <h5>
              Contactanos
            </h5>
            <div>
              <img src="images/call.png" alt="" />
              <p>
                +57 3008139329
              </p>
            </div>
            <div>
              <img src="images/mail.png" alt="" />
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_time">
            <h5>
              Nuestro Horario de atencion
            </h5>
            <div>
              <p>
               Lunes a Sabado
              </p>
            </div>
            <div>
              <p>
                07:00 am to 04:00 pm
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="info_social">
            <h5>
              Redes Sociales
            </h5>
            <div class="social_container">
              <div>
                <a href="">
                  <img src="images/fb.png" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="images/twitter.png" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="images/linkedin.png" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="images/instagram.png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_form pl-lg-4">
            <h5>
             Si desea mas informacion brindanos tu correo electronico
            </h5>
            <form action="">
              <input type="text" placeholder="Enter Your Email" />
              <button type="submit">
                Correo Electronico
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <p>
      &copy; 2019 All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width")
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    }
  </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>

<router-outlet />
